---
---
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Cinzel&family=Tangerine&display=swap');
/* font-family: 'Cinzel', serif;
font-family: 'Tangerine', cursive; 
font-family: 'Crimson Text', serif;
*/

body {
  width: 100%;
  margin: 0px;
  font-family: 'Crimson Text', serif;
  min-height: 100vh;
  color: black;
  background-image: url("../images/old_paper_texture.svg");
  background-color: Moccasin;
  background-blend-mode: multiply;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  margin: 0px;
}

h4, h5, h6 {
  font-family: 'Tangerine', cursive;
  margin: 0px;
}

h1 {font-size: 3em;}

h4 {font-size: 1.5em;
  img {height: 1em;}
}

/* page layout classes */
#menu_box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 38vw;
  text-align: center;
  padding: 1em;
  &>div {
    margin-top: 10px;
    margin-left:auto;
    margin-right:0;
  }
}

path {
    stroke:#000000;
}

body>svg {
  width: 100%;

  text {
    font-family: 'Cinzel', serif;
    font-size: 25px;
    font-weight: bold;
  }

  g path {
    stroke:#000000;
    fill-opacity:0.75;
    stroke-width: 0px;
  }
}  

/* symbol colors */
symbol path{
  stroke-width: 5px;
  stroke: black;
}

symbol#barrel path {fill: saddlebrown;}
symbol#barrel path.lid {fill: saddlebrown;}
symbol#barrel path.rings {fill: #555555;}
symbol#castle path {fill: #555555;}
symbol#castle path.flag {fill: currentColor;}
symbol#crown path {fill: orange;}
symbol#crown path.rim {fill: currentColor;}
symbol#mountain path {fill: currentColor;}

symbol#iron path {fill: #333333;}
symbol#silver path {fill:silver;}
symbol#silver path.handle {fill: currentColor;}
symbol#gold path {fill: orange;}
symbol#gold path.top {fill: yellow;}
symbol#gems path {fill: currentColor;}

symbol#oil path {fill:orange;}
symbol#oil path.handle {fill: currentColor;}
symbol#spices path {fill:darkgrey;}
symbol#spices path.pestle {fill: dimgrey;}
symbol#spices path.pile {fill: orangered;}
symbol#wine path {fill: purple;}
symbol#wine path.stem {fill: green;}
symbol#pearls path {fill: papayawhip;}
symbol#pearls path:nth-child(even) {fill: tan;}

symbol#furs path {fill: chocolate;}

symbol#textiles path {fill:currentColor;}
symbol#textiles path.end {fill: dimgrey;}

symbol#lumber path {fill: green;}
symbol#lumber path.dark {fill: darkgreen;}

/* basic map colors */
.mountains {
  fill:darkgrey;
  stroke:darkgrey;
  use {color: #333333}
  use:nth-child(even) {color: #555555}
}

.sea {
  fill:steelblue;
  stroke:steelblue;
}
.river {   
  fill:lightseagreen;
  stroke:lightseagreen
}
.land {fill:darkkhaki}


#map_key {
  display: grid;
  grid-template-columns: auto auto auto;
  h2 {grid-column: 1 / span 3;}
  h4 {text-align: left;}

}

#trade_goods {
  width: 35vw;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-auto-flow: column; TODO: fix this */
  h2 {grid-column: 1 / span 3;}
  h4 {text-align: left;}
}

#noble_houses {
  width: 30vw;
  .controls {
    padding: 5px;
    span {font-weight: bold}
    a {
      display: inline-block;
      width: 5em;
      border: 1px solid black;
      margin: 2px;
      border-radius: 5px;
      &.selected {
        background-color: rgba(0, 0, 0, 0.25);
        border-width: 2px
      }
    }


  }
  .list {
    height: 70vw;
    overflow-x:hidden;
    overflow-y:auto;
    div {
      padding: 5px;
      border-radius: 10px;
    }
  }
}

.house {
  display: grid;
  grid-template-columns: auto 28% 28% 28%;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo name motto motto"
    "logo player race rank";

  .heraldry {
    text-align: center;
    grid-area: logo;
    img {height: 3em;}
  }
  .player{grid-area: player;}
  .race{grid-area: race;}
  .rank{grid-area: rank;}
  h3{grid-area: name;}
  h4{grid-area: motto;}

  margin: 10px;
  text-align: left;

}

/* sets the height on the map */
image.heraldry {
  height: 4em;
  width: 4em;
  preserveAspectRatio: "xMidyMid meet";
}

/* house colors */
.owned .land{
  stroke-width: 3px;
}


/* mouseover highlight effects */
g:hover>path, .highlight .land{
  fill-opacity:1.0;
  stroke-width: 6px;
}
div.highlight {border: 1px solid black;}

.acosta {
  .land{fill: red; stroke: white;}
  use{color: blue;}
}

.ascella {
  .land{ fill: forestgreen; stroke: black;}
  use{color: gold;}
}

.ashton {
  .land{ fill: red; stroke: gold;}
  use{color: gold;}
}

.aurelii {
  .land{fill: gold; stroke: indigo;}
  use{color: indigo;}
}

.baleen {
  .land{ fill: royalblue; stroke: white;}
  use{color: gold;}
}

.barrett {
  .land{fill: red; stroke: white;}
  use{color: black;}
}

.boeing {
  .land{fill: red; stroke: white;}
  use{color: blue;}
}

.burke {
  .land{fill: red; stroke: white;}
  use{color: white;}
}

.capehart {
  .land{fill: gold; stroke: red;}
  use{color: red;}
}

.carkeek {
  .land{fill: white; stroke: forestgreen;}
  use{color: forestgreen;}
}

.corvus {
  .land{ fill: white; stroke: black;}
  use{color: black;}
}

.dravus {
  .land{ fill: gold; stroke: black;}
  use{color: black;}
}

.elliott {
  .land{fill: royalblue; stroke: white;}
  use{color: gold;}
}

.fairwood {
  .land{fill: gold; stroke: black;}
  use{color: black;}
}

.forrester {
  .land{fill: forestgreen; stroke: black;}
  use{color: gold;}
}

.genesee {
  .land{fill: purple; stroke: gold;}
  use{color: gold;}
}

.highline {
  .land{fill: red; stroke: gold;}
  use{color: gold;}
}

.ilono {
  .land{fill: gold; stroke: indigo;}
  use{color: indigo;}
}

.inverness {
  .land{fill: red; stroke: gold;}
  use{color: indigo;}
}

.jackson {
  .land{fill: forestgreen; stroke: gold;}
  use{color: gold}
}

.james {
  .land{fill: indigo; stroke: white;}
  use{color: forestgreen;}
}

.kellogg {
  .land{fill: royalblue; stroke: gold;}
  use{color: gold}
}


.lawton {
  .land{fill: white; stroke: black;}
  use{color: black;}
}

.macadam {
  .land{fill: white; stroke: black;}
  use{color: red;}
}

.magnuson {
  .land{fill: gold; stroke: royalblue;}
  use{color: purple;}
}

.mercer {
  .land{fill: purple; stroke: gold;}
  use{color: gold}
}

.penrose {
  .land{fill: white; stroke: red;}
  use{color: red;}
}

.sande {
  .land{fill: gold; stroke: forestgreen;}
  use{color: forestgreen;}
}

.sealth {
  .land{fill: forestgreen; stroke: white;}
  use{color: white;}
}

.silverthorn {
  .land{fill:gold; stroke: black;}
  use{color: black;}
}

.seaward {
  .land{fill:forestgreen; stroke: darkred;}
  use{color: gold;}
}

.suzallo {
  .land{ fill: purple; stroke: white;}
  use{color: forestgreen;}
}

.washburne {
  .land{fill: purple; stroke: white;}
  use{color: gold}
}

.westshore {
  .land{fill:seashell; stroke: royalblue;}
  use{color: gold}
}


/* race colors */

.lagante {
  background-color: rgba(34, 139, 34, 0.75); /* Forest Green */
  .land{
    fill: forestgreen;
    stroke-width: 0px;}
  use{color: gold}
}


.lucian {
  background-color: rgba(255, 215, 0, 0.75); /* gold */
  .land{
    fill: gold;
    stroke-width: 0px;}
  use{color: indigo}
}

.magnol {
  background-color: rgba(255, 0, 0, 0.75); /* red */
  .land{
    fill:red;
    stroke-width: 0px;}
  use{color: white}
}

.rio {
  background-color: rgba(65, 105, 225, 0.75); /* royalblue */
  .land{
    fill: royalblue;
    stroke-width: 0px;}
  use{color: red}
}


/* rank colors */
.header {
  height: 5em;
  background-size: 5em 5em;
  background-repeat: no-repeat;
  background-position: center;
  h2 {margin-top: 1.5em;}
}

.header.royal {
  background-image: url("../images/royal.svg");
}

.royal {
  .land{
    fill: rgb(255, 176, 0);
    stroke-width: 0px;}
  use{color: black}
}

.header.principal {
  background-image: url("../images/principal.svg");
}

.principal {
  .land{
    fill: rgb(254, 97, 0);
    stroke-width: 0px;}
  use{color: black}
}

.header.archducal {
  background-image: url("../images/archducal.svg");
}

.archducal {
  /* background-color: rgba(220, 38, 127, 0.75); */
  .land{
    fill: rgb(220, 38, 127);
    stroke-width: 0px;}
  use{color: black}
}

.header.ducal {
  background-image: url("../images/ducal.svg");
}


.ducal {
  /* background-color: rgba(120, 94, 240, 0.75); */
  .land{
    fill: rgb(120, 94, 240);
    stroke-width: 0px;}
  use{color: black}
}

.header.comital {
  background-image: url("../images/comital.svg");
}

.comital {
  /* background-color: rgba(100, 143, 255, 0.75); */
  .land{
    fill: rgb(100, 143, 255);
    stroke-width: 0px;}
  use{color: black}
}