---
---
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Cinzel&family=Tangerine&display=swap');
/* font-family: 'Cinzel', serif;
font-family: 'Tangerine', cursive; 
font-family: 'Crimson Text', serif;
*/

body {
  width: 100%;
  margin: 0px;
  font-family: 'Crimson Text', serif;
  min-height: 100vh;
  color: black;
  /* background-image: url("../images/old_paper_texture.svg"); */
  /* <a href="https://www.vecteezy.com/free-vector/old-paper">Old Paper Vectors by Vecteezy</a> */
  background-image: url("../images/grunge_texture.svg");
  /* <a href="https://www.vecteezy.com/free-vector/old-paper">Old Paper Vectors by Vecteezy</a> */
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
  text-transform: uppercase;
  margin: 0px;
}

h4, h5, h6 {
  font-family: 'Tangerine', cursive;
  margin: 0px;
}

h1 {font-size: 3em;}

h4 {font-size: 1.5em;
  img {height: 1em;}
}

/* page layout classes */
#menu_box {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 38vw;
  text-align: center;
  padding: 1em;
  &>div {
    margin-top: 10px;
    margin-left:auto;
    margin-right:0;
  }
}

path {
    stroke:#000000;
}

body>svg {
  width: 100%;

  text {
    font-family: 'Cinzel', serif;
    font-size: 25px;
    font-weight: bold;
  }

  g path {
    stroke:#000000;
    fill-opacity:0.75;
  }

  g:hover path {
    fill-opacity:1.0;
    stroke-width: 5px !important;
  }
}  
  .mountain {fill:darkgrey}
  .sea {fill:steelblue;}
  .river {fill:lightseagreen}
  .land {fill:darkkhaki}
  /* .bridge {fill:saddlebrown} */


#map_key {
  display: grid;
  grid-template-columns: auto auto auto;
  h2 {grid-column: 1 / span 3;}
  h4 {text-align: left;}

}

#trade_goods {
  width: 35vw;
  display: grid;
  grid-template-columns: auto auto auto;
  /* grid-auto-flow: column; TODO: fix this */
  h2 {grid-column: 1 / span 3;}
  h4 {text-align: left;}
}

#noble_houses {
  width: 30vw;
  .list {
    height: 70vw;
    overflow-x:hidden;
    overflow-y:auto;
  }
}

.house {
  display: grid;
  grid-template-columns: auto 28% 28% 28%;
  grid-template-rows: auto auto;
  grid-template-areas: 
    "logo name motto motto"
    "logo player player race";

  .heraldry {
    text-align: center;
    grid-area: logo;
    img {height: 3em;}
  }
  .player{grid-area: player;}
  .race{grid-area: race;}
  h3{grid-area: name;}
  h4{grid-area: motto;}

  margin: 10px;
  text-align: left;

}

/* sets the height on the map */
image.heraldry {
  height: 4em;
  width: 4em;
  preserveAspectRatio: "xMidyMid meet";
}

/* house colors */
.owned .land{
  stroke-width: 3px;
}
.acosta .land{
  fill: darkred;
  stroke: white;
}

.genesee .land{
  fill:purple;
  stroke: gold;
}

.kellogg .land{
  fill:royalblue;
  stroke: gold;
}

.jackson .land{
  fill:forestgreen;
  stroke: gold;
}

.mercer .land{
  fill:purple;
  stroke: gold;
}

.silverthorn .land{
  fill:gold;
  stroke: black;
}

.seaward .land{
  fill:forestgreen;
  stroke: gold;
}

.westshore .land{
  fill:seashell;
  stroke: royalblue;
}



/*
p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

li{
  p, ul, ol {
    margin: 0px;
  }
}
*/