---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Lords and Ladies of the Emerald Kingdom</title>
    <script src="https://kit.fontawesome.com/82239a48ce.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var houses = {% include houses.json %};
      {% include index.js %}
    </script>
    <link rel="stylesheet" href="css/styles.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    {% include emerald_kingdom.svg %}
    <div id="menu_box">
      <h3>A True and Correct Map of the </h3>
      <h1>Emerald Kingdoms</h1>
      <img src="images/horizontal-rule.svg", width=80% height="40px" /><!-- public domain per https://freesvg.org/1539645636 -->
      <div id="map_key">
        <h2>Map Key</h2>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#castle"></use></svg> Stronghold (Levy Troops)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#barrel"></use></svg> Stockpile (Army Supply)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#crown"></use></svg> Palace (Cultural Prestige)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#bridge"></use></svg> Bridge (Connects Provinces over Water)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#mountain"></use></svg> Mountains (Impassible)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#blob" class="sea"/></svg> Sea / Estuary (Navigable)</h4>
        <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#blob" class="river"/></svg> Lake / River (Impassible)</h4>
      </div>
      <div id="trade_goods">
        <h2>Trade Goods</h2>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#iron"></use></svg> iron</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#oil"></use></svg> oil</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#lumber"></use></svg> lumber</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#silver"></use></svg> silver</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#spices"></use></svg> spices</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#textiles"></use></svg> textiles</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#gold"></use></svg> gold</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#wine"></use></svg> wine</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#furs"></use></svg> furs</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#gems"></use></svg> gems</h4>
            <h4><svg width="32px" height="32px" viewbox="0 0 48 48"><use href="#pearls"></use></svg> pearls</h4>
      </div>
      <div id="noble_houses">
        <h2>Noble Houses of the<br/>Emerald Kingdoms</h2>
        <div class="controls">
          <span>Sort: </span>
          <a id="sort_alpha_asc" class="sort_button selected" style="display: none;"><i class="fas fa-sort-alpha-down"></i></a>
          <a id="sort_alpha_desc" class="sort_button selected"><i class="fa fa-sort-alpha-up"></i></a>
          <a id="sort_rank" class="sort_button"><i class="fas fa-sitemap"></i></a>
          <!-- <a id="sort_player" class="sort_button"><i class="fas fa-user"></i></a> -->
          <a id="sort_race" class="sort_button"><i class="fas fa-flag"></i></a>
          <a id="sort_kingdom" class="sort_button"><i class='fas fa-crown'></i></a>
        </div>
        <div class="list">
        </div>
      </div>
    </div>
  </body>
</html>